---
layout: default
title: handsome
---
<div class="col-md-offset-3 col-md-9">
  <div class="heading">
    <ul class="list-unstyled meta-header">
      <li><h1 class="meta-title">{{page.title}}</h1><li>
      {% if page.tagline != null %}
        <li class="meta-tagline">{{ page.tagline }}</li>
      {% endif %}
    </ul>
  </div>
</div>
<div class="col-md-2">
  <div class="sidebar">
    <p>{% include tagline.html %}</p>
  </div>
</div>


  <div class="col-md-offset-1 col-md-8">
    <div class="content">
      {{ content }}
    </div>
  </div>
