---
layout: default
---
<div class="col-md-8 col-md-offset-2">
  <h2>{{ page.title }}</h2>

      <a href="{{page.link}}">
      <img class="img-responsive project-hero" src="{{page.image}}" />
      </a>
      <div class="content">
        {{ content }}
      </div>
  </div>
  <div class="col-md-12">
    <a class="project-link" href="{{page.github}}"><i class="fa fa-lg fa-code-fork"></i> Fork the project on GitHub</a>
    <a class="project-link" href="{{page.link}}"><i class="fa fa-lg fa-link"></i> See the map</a>
  </div>
